hservice/servicewsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
      <s:element name="NCPDPRequest" type="tns:SoapBodyNCPDP" />
      <s:complexType name="SoapBodyNCPDP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDetails" type="tns:StandardsType" />
          <s:element minOccurs="0" maxOccurs="1" name="EnvelopeReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Payload" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StandardsType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionStandard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Release" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WenoMailNewRX" type="tns:WenoMail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WenoMail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WenoMailUUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PharmacyFAXNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NCPDPResponse" type="tns:SoapBodyNCPDP" />
      <s:element name="Security" type="tns:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogErrorSoapIn">
    <wsdl:part name="NCPDPRequest" element="tns:NCPDPRequest" />
  </wsdl:message>
  <wsdl:message name="LogErrorSoapOut">
    <wsdl:part name="LoggingResult" element="tns:NCPDPResponse" />
  </wsdl:message>
  <wsdl:message name="LogErrorSecurity">
	<wsdl:part name="Security" element="tns:Security"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="LogError">
      <wsdl:input message="tns:LogErrorSoapIn" />
      <wsdl:output message="tns:LogErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogError">
      <soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/RealTimeTransactionNCPDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogErrorSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:LogErrorSecurity" part="Security" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogError">
      <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/LogError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogErrorSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogErrorSecurity" part="Security" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/sherwingaddis1/openemr-master/hservice/server.php" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/sherwingaddis1/openemr-master/hservice/server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>